@model BKUVM

@{
    ViewData["Title"] = "Laporan | BKU";
    var cultureInfo = new CultureInfo("id-ID");
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Laporan</a></li>
            <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="Laporan" asp-action="@nameof(LaporanController.BKU)"></a>BKU</li>
        </ol>
    </nav>
</div>

<div class="card card-primary">
    <div class="card-header">
        <h4>Laporan BKU Tahun @Model.Tahun</h4>
    </div>
    <div class="card-body pt-1">
        <div class="d-flex justify-content-start ml-auto mb-2">
            <div class="mt-1">
                <a asp-action="@nameof(LaporanController.BKUPDF)" asp-route-tahun="@Model.Tahun" asp-route-bulan="@Model.Bulan" asp-route-download="@true"
                   class="btn btn-secondary buttons-pdf button-html5 ml-0" data-toggle="tooltip" title="Cetak PDF">
                    PDF
                </a>
            </div>
            <div class="d-flex ml-auto">
                <select id="bulan" class="form-control w-auto mr-2" style="padding: 5px 10px" data-toggle="tooltip" title="Pilih Bulan">
                    @foreach (var bulan in Enumerable.Range(1, 12))
                    {
                        @if (bulan == Model.Bulan)
                        {
                            <option selected value="@bulan">@Model.MonthName(bulan)</option>
                        }
                        else
                        {
                            <option value="@bulan">@Model.MonthName(bulan)</option>
                        }
                    }
                </select>

                <select id="tahun" class="form-control" style="padding: 5px 10px" data-toggle="tooltip" title="Pilih Tahun">
                    @foreach (var tahun in Enumerable.Range(DateTime.Now.Year - 5, 11))
                    {
                        @if (tahun == Model.Tahun)
                        {
                            <option selected value="@tahun">@tahun</option>
                        }
                        else
                        {
                            <option value="@tahun">@tahun</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-striped" id="table-akun">
                <thead>
                    <tr class="text-center">
                        <th>No</th>
                        <th style="width: 90px">Tanggal</th>
                        <th>Kode Akun</th>
                        <th>Uraian</th>
                        <th>Nomor Bukti</th>
                        <th>Kas</th>
                        <th>Penerimaan</th>
                        <th>Pengeluaran</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var no = 1;
                    }
                    @foreach (var transaksi in Model.DaftarTransaksi)
                    {
                        <tr>
                            <td>@no</td>
                            <td>@transaksi.Tanggal.ToString("dd MMMM yyyy", cultureInfo)</td>
                            <td>@transaksi.Akun.KodeAkun</td>
                            <td>@transaksi.Uraian</td>
                            <td>@transaksi.NomorBukti</td>
                            <td>@transaksi.Kas.Uraian</td>
                            <td class="text-right">@(transaksi.Jenis == Jenis.Penerimaan ? transaksi.Jumlah.ToString("C2", cultureInfo) : "-")</td>
                            <td class="text-right">@(transaksi.Jenis == Jenis.Belanja ? transaksi.Jumlah.ToString("C2", cultureInfo) : "-")</td>
                            <td class="text-right">@transaksi.SaldoKas.ToString("C2", cultureInfo)</td>
                        </tr>
                        no++;
                    }
                </tbody>
                <tfoot>
                    @{
                        var totalPenerimaan = Model.DaftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan).Sum(t => t.Jumlah);
                        var totalPengeluaran = Model.DaftarTransaksi.Where(t => t.Jenis == Jenis.Belanja).Sum(t => t.Jumlah);
                        var totalSaldo = Model.DaftarTransaksi.LastOrDefault()?.SaldoKas ?? 0;
                    }
                    <tr>
                        <th colspan="6" class="text-center">Jumlah</th>
                        <th class="text-right">@totalPenerimaan.ToString("C2", cultureInfo)</th>
                        <th class="text-right">@totalPengeluaran.ToString("C2", cultureInfo)</th>
                        <th class="text-right">@totalSaldo.ToString("C2", cultureInfo)</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>




<div class="card">
    <div class="card-header">
        <h4>Preview Laporan BKU Tahun @Model.Tahun</h4>
    </div>
    <div class="card-body pt-0">
        <iframe class="pdf" src="@Url.Action(nameof(LaporanController.BKUPDF), new { tahun = Model.Tahun, bulan = Model.Bulan})" width="100%"
                height="600">
        </iframe>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        const selectTahun = $('select#tahun');
        const selectBulan = $('select#bulan');

        const url = '@Url.Action(nameof(LaporanController.BKU))';

        $(selectTahun).on('change', function () {
            const tahun = $(selectTahun).val();
            const bulan = $(selectBulan).val();

            location.href = `${url}?tahun=${tahun}&bulan=${bulan}`;
        });

        $(selectBulan).on('change', function () {
            const tahun = $(selectTahun).val();
            const bulan = $(selectBulan).val();

            location.href = `${url}?tahun=${tahun}&bulan=${bulan}`;
        });
    </script>
}