@model RAPBJVM

<select id="tahun" class="form-control">
    @foreach (var tahun in Enumerable.Range(DateTime.Now.Year - 5, 11))
    {
        @if (tahun == Model.Tahun)
        {
            <option selected value="@tahun">@tahun</option>
        }
        else
        {
            <option value="@tahun">@tahun</option>
        }
    }
</select>

@if (Model.RAPBJ is not null)
{
    <div class="card">
        <div class="card-header">
            Tabel RAPBJ
        </div>
        <div class="card-body">
            <a asp-action="@nameof(LaporanController.RAPBJPDF)" asp-route-tahun="@Model.Tahun" asp-route-download="@true" class="btn btn-primary">PDF</a>
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="table-akun-1" width="100%">
                    <thead>
                        <tr>
                            <th>Kode Akun</th>
                            <th style="max-width: 400px;">Uraian</th>
                            <th class="text-right">Volume</th>
                            <th>Satuan</th>
                            <th class="text-right">Harga Satuan</th>
                            <th class="text-right">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var detail in Model.RAPBJ.DaftarDetailRAPBJ)
                        {
                            <tr>
                                <td>@detail.Akun.KodeAkun</td>
                                <td>@detail.Akun.Uraian</td>
                                <td class="text-right">@detail.Volume</td>
                                <td>@detail.Satuan</td>
                                <td class="text-right">@detail.HargaSatuan</td>
                                <td class="text-right">@detail.Jumlah</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Preview Laporan RAPBJ
        </div>
        <div class="card-body">
            <iframe class="pdf" src="@Url.ActionLink(nameof(LaporanController.RAPBJPDF),"Laporan", new {tahun=Model.Tahun})" width="100%" height="600">
            </iframe>
        </div>
    </div>
}
else
{
    <h1>RAPBJ Tahun @Model.Tahun belum dibuat</h1>
}

@section Scripts {
    <script type="text/javascript">
        const selectTahun = $('select#tahun');

        const url = '@Url.Action(nameof(LaporanController.RAPBJ))';

        $(selectTahun).on('change', function () {
            const tahun = $(selectTahun).val();

            location.href = `${url}?tahun=${tahun}`;
        });
    </script>
}