@model RekaptulasiTahunanVM

@{
    ViewData["Title"] = "Laporan | Rekaptulasi Tahunan";
    var cultureInfo = new CultureInfo("id-ID");
}

<table class="table table-hover table-stripped">
    <thead>
        <tr>
            <th>No</th>
            <th>Bulan</th>
            <th>Penerimaan</th>
            <th>Pengeluaran</th>
            <th>Saldo</th>
            <th>SGP</th>
            <th>10%</th>
            <th>2%</th>
        </tr>
    </thead>
    <tbody>
        @{
            var no = 1;
            var jumlahSGP = 0d;
        }
        @for (int i = 1; i <= 12; i++)
        {
            var daftarTransaksi = Model.DaftarTransaksi.Where(t => t.Tanggal.Month == i).OrderBy(t => t.Tanggal);

            <tr>
                <td>@no</td>
                <td>@Model.MonthName(i)</td>
                @if (daftarTransaksi.Count() > 0)
                {
                    var totalPenerimaan = daftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan).Sum(t => t.Jumlah);
                    var totalPengeluaran = daftarTransaksi.Where(t => t.Jenis == Jenis.Belanja).Sum(t => t.Jumlah);
                    var saldo = Model.DaftarTransaksi.Last().SaldoKas;
                    var setoran10Persen = daftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan && t.Akun.SetoranSinode!.Value).Sum(t => t.Jumlah) * 0.1d;
                    var setoran2Persen = daftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan && t.Akun.SetoranSinode!.Value).Sum(t => t.Jumlah) * 0.02d;

                    <td>@totalPenerimaan.ToString("C2", cultureInfo)</td>
                    <td>@totalPengeluaran.ToString("C2", cultureInfo)</td>
                    <td>@saldo.ToString("C2", cultureInfo)</td>
                    <td>@(6500000d.ToString("C2", cultureInfo))</td>
                    <td>@setoran10Persen.ToString("C2", cultureInfo)</td>
                    <td>@setoran2Persen.ToString("C2", cultureInfo)</td>

                    jumlahSGP += 6500000d;
                }
                else
                {
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                }
            </tr>
            no++;
        }
    </tbody>
    <tfoot>
        <tr>
            @{
                var jumlahPenerimaan = Model.DaftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan).Sum(t => t.Jumlah);
                var jumlahPengeluaran = Model.DaftarTransaksi.Where(t => t.Jenis == Jenis.Belanja).Sum(t => t.Jumlah);
                var jumlahSaldo = Model.DaftarTransaksi.OrderBy(t => t.Tanggal).Last().SaldoKas;
                var jumlahSetoran10Persen = Model.DaftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan && t.Akun.SetoranSinode!.Value).Sum(t => t.Jumlah) * 0.1d;
                var jumlahSetoran2Persen = Model.DaftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan && t.Akun.SetoranSinode!.Value).Sum(t => t.Jumlah) * 0.02d;
            }
            <th colspan="2">Jumlah</th>
            <td>@jumlahPenerimaan.ToString("C2", cultureInfo)</td>
            <td>@jumlahPengeluaran.ToString("C2", cultureInfo)</td>
            <td>@jumlahSaldo.ToString("C2", cultureInfo)</td>
            <td>@jumlahSGP.ToString("C2", cultureInfo)</td>
            <td>@jumlahSetoran10Persen.ToString("C2", cultureInfo)</td>
            <td>@jumlahSetoran2Persen.ToString("C2", cultureInfo)</td>
        </tr>
    </tfoot>
</table>

<div class="card">
    <div class="card-header">
        Preview Laporan PDF
    </div>
    <div class="card-body">
        <iframe class="pdf" src="@Url.ActionLink(nameof(LaporanController.RekaptulasiTahunanPDF), "Laporan", new { tahun = Model.Tahun})"
                width="100%" height="600">
        </iframe>
    </div>
</div>