@model RekaptulasiTahunanVM

@{
    ViewData["Title"] = "Laporan | Rekaptulasi Tahunan";
    var cultureInfo = new CultureInfo("id-ID");
}

<!-- Breadcrumb -->
<div class="row">
    <partial name="_BreadcrumbPartial" />
</div>


<div class="card card-primary">
    <div class="card-header">
        <h4>Laporan Rekapitulasi Tahun @Model.Tahun</h4>
    </div>
    <div class="card-body pt-1">
        <div class="d-flex justify-content-start ml-auto mb-1">
            <div class="mb-2">
                @if (Model.RAPBJ is not null)
                {
                    <a asp-action="@nameof(LaporanController.RekaptulasiTahunanPDF)" asp-route-tahun="@Model.Tahun" asp-route-download="@true"
                       class="btn btn-secondary buttons-pdf button-html5 ml-0" data-toggle="tooltip" title="Cetak PDF">
                        PDF
                    </a>
                }
                else
                {
                }
            </div>
            <div class="ml-auto">
                <select id="tahun" class="form-control" data-toggle="tooltip" title="Pilih Tahun Rekapitulasi">
                    @foreach (var tahun in Enumerable.Range(DateTime.Now.Year - 5, 11))
                    {
                        @if (tahun == Model.Tahun)
                        {
                            <option selected value="@tahun">@tahun</option>
                        }
                        else
                        {
                            <option value="@tahun">@tahun</option>
                        }
                    }
                </select>
            </div>
        </div>    

        @if (Model.RAPBJ is not null)
        {
            <div class="table-responsive">
                <table class="table table-hover table-stripped" id="table-order">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Bulan</th>
                            <th class="text-center">Penerimaan</th>
                            <th class="text-center">Pengeluaran</th>
                            <th class="text-center">Saldo</th>
                            <th class="text-center">SGP</th>
                            <th class="text-center">10%</th>
                            <th class="text-center">2%</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var no = 1;
                            var jumlahSGP = 0d;
                        }
                        @for (int i = 1; i <= 12; i++)
                        {
                            var daftarTransaksi = Model.DaftarTransaksi.Where(t => t.Tanggal.Month == i).OrderBy(t => t.Tanggal);

                            <tr>
                                <td>@no</td>
                                <td>@Model.MonthName(i)</td>
                                @if (daftarTransaksi.Count() > 0)
                                {
                                    var totalPenerimaan = daftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan).Sum(t => t.Jumlah);
                                    var totalPengeluaran = daftarTransaksi.Where(t => t.Jenis == Jenis.Belanja).Sum(t => t.Jumlah);
                                    var saldo = daftarTransaksi.Last().SaldoKas;
                                    var setoran10Persen = daftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan && t.Akun.SetoranSinode!.Value).Sum(t => t.Jumlah) * 0.1d;
                                    var setoran2Persen = daftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan && t.Akun.SetoranSinode!.Value).Sum(t => t.Jumlah) * 0.02d;

                                    <td class="text-right">@totalPenerimaan.ToString("C2", cultureInfo)</td>
                                    <td class="text-right">@totalPengeluaran.ToString("C2", cultureInfo)</td>
                                    <td class="text-right">@saldo.ToString("C2", cultureInfo)</td>
                                    <td class="text-right">@(6500000d.ToString("C2", cultureInfo))</td>
                                    <td class="text-right">@setoran10Persen.ToString("C2", cultureInfo)</td>
                                    <td class="text-right">@setoran2Persen.ToString("C2", cultureInfo)</td>

                                    jumlahSGP += 6500000d;
                                }
                                else
                                {
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                }
                            </tr>
                            no++;
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            @{
                                var jumlahPenerimaan = Model.DaftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan).Sum(t => t.Jumlah);
                                var jumlahPengeluaran = Model.DaftarTransaksi.Where(t => t.Jenis == Jenis.Belanja).Sum(t => t.Jumlah);
                                var jumlahSaldo = Model.DaftarTransaksi.OrderBy(t => t.Tanggal).Last().SaldoKas;
                                var jumlahSetoran10Persen = Model.DaftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan && t.Akun.SetoranSinode!.Value).Sum(t => t.Jumlah) * 0.1d;
                                var jumlahSetoran2Persen = Model.DaftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan && t.Akun.SetoranSinode!.Value).Sum(t => t.Jumlah) * 0.02d;
                            }
                            <th colspan="2">Jumlah</th>
                            <td class="text-right"><b>@jumlahPenerimaan.ToString("C2", cultureInfo)</b></td>
                            <td class="text-right"><b>@jumlahPengeluaran.ToString("C2", cultureInfo)</b></td>
                            <td class="text-right"><b>@jumlahSaldo.ToString("C2", cultureInfo)</b></td>
                            <td class="text-right"><b>@jumlahSGP.ToString("C2", cultureInfo)</b></td>
                            <td class="text-right"><b>@jumlahSetoran10Persen.ToString("C2", cultureInfo)</b></td>
                            <td class="text-right"><b>@jumlahSetoran2Persen.ToString("C2", cultureInfo)</b></td>
                        </tr>
                        <tr>
                            @{
                                var jumlahRAPBJPenerimaan = Model.RAPBJ.DaftarDetailRAPBJ.Where(d => d.Akun.JenisAkun.Jenis == Jenis.Penerimaan).Sum(d => d.Jumlah);
                                var jumlahRAPBJPengeluaran = Model.RAPBJ.DaftarDetailRAPBJ.Where(d => d.Akun.JenisAkun.Jenis == Jenis.Belanja).Sum(d => d.Jumlah);
                            }
                            <th colspan="2">RAPBJ @Model.Tahun</th>
                            <td class="text-right"><b>@jumlahRAPBJPenerimaan.ToString("C2", cultureInfo)</b></td>
                            <td class="text-right"><b>@jumlahRAPBJPengeluaran.ToString("C2", cultureInfo)</b></td>
                            <td colspan="4"></td>
                        </tr>
                        <tr>
                            @{
                                var realisasiPenerimaan = jumlahPenerimaan / jumlahRAPBJPenerimaan;
                                var realisasiPengeluaran = jumlahPengeluaran / jumlahRAPBJPengeluaran;
                            }
                            <th colspan="2">Realisasi</th>
                            <td class="text-right"><b>@realisasiPenerimaan.ToString("P2")</b></td>
                            <td class="text-right"><b>@realisasiPengeluaran.ToString("P2")</b></td>
                            <td colspan="4"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }
        else
        {
            <hr class="mb-2">
            <div class="card-body">
                <p class="text-center">Rekapitulasi Tahun @Model.Tahun belum dibuat.</p>
            </div>

        }
        
    </div>
</div>


@if (Model.RAPBJ is not null)
{
    <div class="card">
        <div class="card-header">
            <h4>Preview Laporan Rekapitulasi Tahun @Model.Tahun</h4>
        </div>
        <div class="card-body pt-0">
            <iframe class="pdf" src="@Url.ActionLink(nameof(LaporanController.RekaptulasiTahunanPDF), "Laporan", new { tahun = Model.Tahun})"
                    width="100%" height="600">
            </iframe>
        </div>
    </div>
}
else
{
}

@section Scripts {
    <script type="text/javascript">
        const selectTahun = $('select#tahun');

        const url = '@Url.Action(nameof(LaporanController.RekaptulasiTahunan))';

        $(selectTahun).on('change', function () {
            const tahun = $(selectTahun).val();

            location.href = `${url}?tahun=${tahun}`;
        });
    </script>
}