@inject IRepositoriAkun RepositoriAkun

@model RAPBJVM

@{
    ViewData["Title"] = "RAPBJ | Belanja Lainya";
}

<h1>RAPBJ - Belanja Lainya - @Model.Tahun</h1>

@if (Model.RAPBJ is not null)
{
    <form asp-action="HapusRAPBJ" asp-route-tahun="@Model.Tahun"
          asp-route-returnUrl="@Url.Action("BelanjaLainnya", "RAPBJ", new { Area="Dashboard", tahun=Model.Tahun})">
        <button type="submit" class="btn btn-danger">Hapus RAPBJ</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Kode Akun</th>
                <th>Uraian</th>
                <th>Volume</th>
                <th>Satuan</th>
                <th>Harga Satuan</th>
                <th>Jumlah</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            @{
                var daftarDetailRAPBJ = Model.RAPBJ.DaftarDetailRAPBJ
                .Where(d => d.Akun.JenisAkun.Jenis == Jenis.Belanja && d.Akun.JenisAkun.Uraian == "Belanja Lain-Lain");
            }
            @foreach (var detail in daftarDetailRAPBJ)
            {
                <tr>
                    <td>@(await RepositoriAkun.GetKode(detail.Akun))</td>
                    <td>@detail.Akun.Uraian</td>
                    <td>@detail.Volume</td>
                    <td>@detail.Satuan</td>
                    <td>@detail.HargaSatuan</td>
                    <td>@detail.Jumlah</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>Tidak Ada RAPBJ di Tahun @Model.Tahun</h4>
    <form asp-action="TambahRAPBJ" asp-route-tahun="@Model.Tahun"
          asp-route-returnUrl="@Url.Action("BelanjaLainnya", "RAPBJ", new { Area="Dashboard", tahun=Model.Tahun})">
        <button type="submit" class="btn btn-primary">Tambah RAPBJ di Tahun @Model.Tahun</button>
    </form>
}