@model IndexVM

@{
    ViewData["Title"] = $"RAPBJ | {Model.Jenis.ToString()}";
}

<!-- Breadcrumb -->
<div class="row">
    <partial name="_BreadcrumbPartial" />
</div>

<div class="card card-danger">
    <div class="card-header">
        <h4>RAPBJ - @Model.Jenis.ToString() - @Model.Tahun</h4>
    </div>
    <div class="padding-20">
        <div class="d-flex justify-content-start ml-auto mr-3 mb-3">
            <div class="mb-3 pl-3 pr-2">
                <a class="btn btn-icon icon-left btn-primary" asp-action="TambahDetailRAPBJ"
                   asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun">
                    <i class="fas fa-plus"></i> Tambah
                </a>
            </div>

            @if (Model.RAPBJ is not null)
            {
                <form asp-action="HapusRAPBJ"
                      asp-controller="RAPBJ"
                      asp-area="Dashboard"
                      asp-route-tahun="@Model.Tahun"
                      asp-route-jenis="@Model.Jenis"
                      method="post"
                      class="mb-3 pl-3 pr-2">
                    <button type="submit" class="btn btn-danger">Hapus Seluruh RAPBJ</button>
                </form>
            }

            @if (Model.RAPBJ is null)
            {
                <form asp-action="TambahRAPBJ"
                      asp-controller="RAPBJ"
                      asp-area="Dashboard"
                      asp-route-tahun="@Model.Tahun"
                      asp-route-jenis="@Model.Jenis"
                      method="post" class="mb-3 pl-3 pr-2">
                    <button type="submit" class="btn btn-primary">Tambah RAPBJ</button>
                </form>
            }

            @if (Model.RAPBJ is not null && Model.RAPBJ.DaftarDetailRAPBJ.Count == 0)
            {
                <form asp-action="TambahSemuaAkun"
                      asp-controller="RAPBJ"
                      asp-area="Dashboard"
                      asp-route-tahun="@Model.Tahun"
                      asp-route-jenis="@Model.Jenis"
                      method="post" class="mb-3 pl-3 pr-2">
                    <button type="submit" class="btn btn-primary">Tambah Semua Akun ke RAPBJ</button>
                </form>
            }

            <div class="ml-auto mr-3">
                <select id="tahun" class="form-control">
                    @foreach (var tahun in Enumerable.Range(DateTime.Now.Year - 5, 11))
                    {
                        @if (tahun == Model.Tahun)
                        {
                            <option selected value="@tahun">@tahun</option>
                        }
                        else
                        {
                            <option value="@tahun">@tahun</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover" id="table-akun-1" width="100%">
                <thead>
                    <tr>
                        <th class="text-center pt-3">
                            <div class="custom-checkbox custom-checkbox-table custom-control">
                                <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad"
                                       class="custom-control-input" id="checkbox-all">
                                <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                            </div>
                        </th>
                        <th>Kode Akun</th>
                        <th style="max-width: 400px;">Uraian</th>
                        <th class="text-right">Volume</th>
                        <th>Satuan</th>
                        <th class="text-right">Harga Satuan</th>
                        <th class="text-right">Jumlah</th>
                        <th class="text-center">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var daftarDetailRAPBJ = Model.RAPBJ?.DaftarDetailRAPBJ.Where(d => d.Akun.JenisAkun.Jenis == Model.Jenis) ?? [];
                    }
                    @foreach (var detail in daftarDetailRAPBJ)
                    {
                        <tr>
                            <td class="text-center pt-2">
                                <div class="custom-checkbox custom-control">
                                    <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input"
                                           id="checkbox-1">
                                    <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                                </div>
                            </td>
                            <td>@detail.Akun.KodeAkun</td>
                            <td>@detail.Akun.Uraian</td>
                            <td class="text-right">@detail.Volume</td>
                            <td>@detail.Satuan</td>
                            <td class="text-right">@detail.HargaSatuan</td>
                            <td class="text-right">@detail.Jumlah</td>
                            <td class="text-center">
                                <a asp-action="EditDetailRAPBJ" asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun"
                                   asp-route-id="@detail.Akun.Id" class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <form style="display:inline" asp-action="HapusDetailRAPBJ" asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun"
                                      asp-route-id="@detail.Akun.Id">
                                    <button type="submit" class="btn btn-danger btn-action" data-toggle="tooltip" title="Hapus">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_BreadcrumbScriptPartial" />

    <script type="text/javascript">
        const selectTahun = $('select#tahun');
        const url = '@Url.Action("Index", "RAPBJ", new { Area = "Dashboard", Jenis = Model.Jenis })';

        $(selectTahun).on('change', function () {
            const tahun = $(selectTahun).val();

            location.href = `${url}/${tahun}`;
        });
    </script>
}