@using SIKeuanganGMITLanudPenfui.Web.Models
@model IndexVM

@{
    ViewData["Title"] = "Home Page";
    var cultureInfo = new CultureInfo("id-ID");
}

<div class="card">
    <div class="card-header">
        Total Penerimaan SD @DateTime.Now.ToString("dd MMMM yyyy", cultureInfo)
    </div>
    <div class="card-body">
        @Model.DaftarTransaksi.Where(t => t.Jenis == Jenis.Penerimaan).Sum(t => t.Jumlah).ToString("C2", cultureInfo)
    </div>
</div>

<div class="card">
    <div class="card-header">
        Total Pengeluaran SD @DateTime.Now.ToString("dd MMMM yyyy", cultureInfo)
    </div>
    <div class="card-body">
        @Model.DaftarTransaksi.Where(t => t.Jenis == Jenis.Belanja).Sum(t => t.Jumlah).ToString("C2", cultureInfo)
    </div>
</div>

@{
    var chartModelPenerimaan = new ChartVM
    {
        Label = "Jumlah Penerimaan",
        Data = new Dictionary<string, double>(
            Model.DaftarTransaksi
                .Where(t => t.Jenis == Jenis.Penerimaan)
                .GroupBy(t => t.Tanggal.Date)
                .OrderBy(g => g.Key)
                .Select(g => new KeyValuePair<string, double>(g.Key.ToString("dd/MM/yyyy"), g.Sum(t => t.Jumlah)))),
        Type = ChartType.Line
    };

    var chartModelPengeluaran = new ChartVM
    {
        Label = "Jumlah Pengeluaran",
        Data = new Dictionary<string, double>(
            Model.DaftarTransaksi
                .Where(t => t.Jenis == Jenis.Belanja)
                .GroupBy(t => t.Tanggal.Date)
                .OrderBy(g => g.Key)
                .Select(g => new KeyValuePair<string, double>(g.Key.ToString("dd/MM/yyyy"), g.Sum(t => t.Jumlah)))),
        Type = ChartType.Line
    };

    var chartModelSaldo = new ChartVM
    {
        Label = "Jumlah Saldo",
        Data = new Dictionary<string, double>(
            Model.DaftarTransaksi
                .GroupBy(t => t.Tanggal.Date)
                .OrderBy(g => g.Key)
                .Select(g => new KeyValuePair<string, double>(g.Key.ToString("dd/MM/yyyy"), g.Last().SaldoKas))),
        Type = ChartType.Line
    };
}

<vc:chart chart-model="@chartModelPenerimaan"/>

<vc:chart chart-model="@chartModelPengeluaran"/>

<vc:chart chart-model="@chartModelSaldo"/>