@model EditVM

@inject IRepositoriKas RepositoriKas
@inject IRepositoriAkun RepositoriAkun

@{
    ViewData["Title"] = $"{Model.Jenis} | Edit";
    var daftarKas = await RepositoriKas.GetAll();
    var daftarAkun = (await RepositoriAkun.GetAllByTahun(Tahun.Create(Model.Tahun).Value)).Where(a => a.JenisAkun.Jenis == Model.Jenis).ToList();
}

<!-- Breadcrumb -->
<div class="row" style="justify-content: center;">
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0;">
        <partial name="_BreadcrumbPartial" />
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card card-primary">
                <div class="card-header" style="padding-top: 20px;">
                    <h4>Edit @Model.Jenis - @Model.Tahun</h4>
                </div>
                <form asp-action="@nameof(RealisasiController.Edit)" asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun" asp-route-itemid="@Model.IdTransaksi" method="post">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group">
                            <label asp-for="@Model.Uraian" class="form-label"></label>
                            <input asp-for="@Model.Uraian" class="form-control" />
                            <span asp-validation-for="@Model.Uraian" class="form-text text-danger"></span>
                        </div>

                        <div class="form-group mb-0">
                            <label asp-for="@Model.IdAkun" class="form-label"></label>

                            <select asp-for="@Model.IdAkun" class="form-control">
                                <option value="@null">Pilih Akun...</option>
                                @foreach (var akun in daftarAkun)
                                {
                                    <option value="@akun.Id">@akun.KodeAkun @akun.Uraian</option>
                                }
                            </select>

                            <span asp-validation-for="@Model.IdAkun" class="form-text text-danger"></span>
                        </div>

                        <input asp-for="@Model.IdTransaksi" readonly hidden />
                        <input asp-for="@Model.Jenis" readonly hidden />
                        <input asp-for="@Model.Tahun" readonly hidden />
                    </div>

                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a asp-action="@nameof(RealisasiController.Transaksi)" asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun" class="btn btn-danger">Batal</a>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>

<form asp-action="@nameof(RealisasiController.Edit)" asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun" asp-route-itemid="@Model.IdTransaksi"
      method="post">
    <div asp-validation-summary="ModelOnly"></div>

    

    <div class="row">
        
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}