@model EditKasVM

@{
    ViewData["Title"] = "Realisasi | Tambah Kas";
}

<!-- Breadcrumb -->
<div class="row" style="justify-content: center;">
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0;">
        <partial name="_BreadcrumbPartial" />
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card card-danger">
                <div class="card-header">
                    <h4>Edit Kas</h4>
                </div>
                <form asp-action="@nameof(RealisasiController.EditKas)" asp-route-id="@Model.IdKas">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group mb-0">
                            <label asp-for="@Model.Uraian" class="form-label"></label>
                            <input asp-for="@Model.Uraian" class="form-control" />
                            <span asp-validation-for="@Model.Uraian"></span>
                        </div>

                        <input asp-for="@Model.IdKas" readonly hidden />                        
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a class="btn btn-danger" href="#">Batal</a>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>

