@model List<Kas>

@{
    ViewData["Title"] = "Realisasi | Kas";
    var cultureInfo = new CultureInfo("id-ID");
}

<partial name="_BreadcrumbPartial" />

<div class="card card-primary">
    <div class="card-header">
        <h4>Kas</h4>
    </div>
    <div class="padding-20">
        <div class="d-flex justify-content-start ml-auto mb-2">
            <div class="mb-0">
                <a asp-action="@nameof(RealisasiController.TambahKas)" class="btn btn-primary"><i class="fas fa-plus"></i> Tambah</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover" id="table-akun-1">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Uraian</th>
                        <th>Saldo</th>
                        <th>Terakhir Berubah</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var no = 1;
                    }

                    @foreach (var kas in Model)
                    {
                        <tr>
                            <td>@no</td>
                            <td>@kas.Uraian</td>
                            <td>@kas.Saldo.ToString("C2", cultureInfo)</td>
                            @if (kas.TanggalDiubah is not null)
                            {
                                <td>
                                    @kas.TanggalDiubah.Value.ToString(cultureInfo.DateTimeFormat.ShortDatePattern, cultureInfo)
                                    @kas.TanggalDiubah.Value.ToString(cultureInfo.DateTimeFormat.LongTimePattern, cultureInfo)
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>
                                <a asp-action="@nameof(RealisasiController.EditKas)" asp-route-id="@kas.Id" class="btn btn-primary">Edit</a>
                                <form asp-action="@nameof(RealisasiController.HapusKas)" asp-route-id="@kas.Id" style="display:inline">
                                    <button type="submit" class="btn btn-danger">Hapus</button>
                                </form>
                            </td>
                        </tr>
                        no++;
                    }
                </tbody>
            </table>
        </div>
    </div>    
</div>

