@model LunaskanVM

@{
    ViewData["Title"] = $"Panjar | Lunaskan";
}

<!-- Breadcrumb -->
<div class="row" style="justify-content: center;">
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0;">
        <partial name="_BreadcrumbPartial" />
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h4>Lunaskan Panjar - @Model.Tahun</h4>
                </div>
                <form asp-action="@nameof(RealisasiController.Lunaskan)" asp-route-id="@Model.IdTransaksi" asp-route-tahun="@Model.Tahun" enctype="multipart/form-data">
                    <div class="card-body">                         
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="form-group">
                            <label asp-for="@Model.FileBukti" class="form-label"></label>
                            <div class="custom-file">
                                <input asp-for="@Model.FileBukti" type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="@Model.FileBukti" class="form-text text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.NomorBukti" class="form-label"></label>
                            <input asp-for="@Model.NomorBukti" class="form-control" placeholder="Uraian..." />
                            <span asp-validation-for="@Model.NomorBukti" class="form-text text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Jumlah" class="form-label"></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        Rp
                                    </div>
                                </div>
                                <input asp-for="@Model.Jumlah" type="text" class="form-control" />
                            </div>
                            <span asp-validation-for="@Model.Jumlah" class="form-text text-danger"></span>
                        </div>
                                
                        <input asp-for="@Model.IdTransaksi" readonly hidden />
                        <input asp-for="@Model.Tahun" readonly hidden />                        
                    </div>

                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary mr-1">Submit</button>
                        <a class="btn btn-danger" href="#">Batal</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}