@model PanjarVM

@{
    ViewData["Title"] = $"Realisasi | Panjar";
    var cultureInfo = new CultureInfo("id-ID");
}

<!-- Breadcrumb -->
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Realisasi</a></li>
            <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="Realisasi" asp-action="@nameof(RealisasiController.Panjar)"></a>Panjar</li>
        </ol>
    </nav>
</div>

<div class="card card-primary">
    <div class="card-header">
        <h4>Realisasi - Panjar - @Model.Tahun</h4>
    </div>
    <div class="card-body pt-1">
        <div class="row d-flex justify-content-start ml-auto mb-2">
            <div class="col-auto p-0 mt-1">
                <a asp-action="@nameof(RealisasiController.TambahPanjar)" asp-route-tahun="@Model.Tahun" class="btn btn-primary"><i class="fas fa-plus"></i> Tambah</a>
            </div>

            <div class="col-9 d-flex justify-content-center p-l-100">
                <div class="row w-100">
                    <div class="col-2 text-right align-content-center">
                        <label class="form-label m-0">Start</label>
                    </div>
                    <div class="col-10 p-0">
                        <input asp-for="@Model.Start" type="date" class="form-control" id="start" />
                    </div>
                </div>
                <div class="row w-100 pl-4">
                    <div class="col-2 text-right align-content-center">
                        <label class="form-label m-0">End</label>
                    </div>
                    <div class="col-10 pl-0">
                        <input asp-for="@Model.End" type="date" class="form-control" id="end" />
                    </div>
                </div>
                <div class="align-content-end pb-1 pl-2">
                    <button class="btn btn-secondary buttons-copy button-html5" id="filter">Filter</button>
                </div>
            </div>            

            <div class="col-auto ml-auto">
                <select id="tahun" class="form-control">
                    @foreach (var tahun in Enumerable.Range(DateTime.Now.Year - 5, 11))
                    {
                        @if (tahun == Model.Tahun)
                        {
                            <option selected value="@tahun">@tahun</option>
                        }
                        else
                        {
                            <option value="@tahun">@tahun</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover nowrap" id="table-akun">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Tanggal</th>
                        <th style="width: 150px">Akun</th>
                        <th style="width: 250px">Uraian</th>
                        <th>Kas</th>
                        <th>Jumlah</th>
                        <th style="width: 100px">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var no = 1;
                    }
                    @foreach (var transaksi in Model.DaftarTransaksi)
                    {
                        <tr>
                            <td>@no</td>
                            <td>@transaksi.Tanggal.ToString("dd/MM/yyyy HH:mm", cultureInfo)</td>
                            <td>@transaksi.Akun.KodeAkun @transaksi.Akun.Uraian</td>
                            <td>@transaksi.Uraian</td>
                            <td>@transaksi.Kas.Uraian</td>
                            <td class="text-right">@transaksi.Jumlah.ToString("C2", cultureInfo)</td>
                            <td>
                                <a asp-action="@nameof(RealisasiController.EditPanjar)" 
                                   asp-route-tahun="@Model.Tahun"
                                   asp-route-id="@transaksi.Id" class="btn btn-primary">Edit</a>
                                <form asp-action="@nameof(RealisasiController.HapusPanjar)"
                                      asp-route-tahun="@Model.Tahun"
                                      asp-route-id="@transaksi.Id" style="display:inline">
                                    <button type="button" class="btn btn-danger btn-action" data-toggle="modal" data-target="#basicModal2"
                                            data-url="@Url.Action("HapusPanjar", new { tahun = Model.Tahun, id=transaksi.Id })"
                                            title="Hapus">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        no++;
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="padding-20">
       
    </div>
</div>


@section Scripts {
    <partial name="_BreadcrumbScriptPartial" />

    <script type="text/javascript">
        const selectTahun = $('select#tahun');

        const url = '@Url.Action(nameof(RealisasiController.Panjar))';

        $(selectTahun).on('change', function () {
            const tahun = $(selectTahun).val();

            location.href = `${url}/${tahun}`;
        });
    </script>

    <script type="text/javascript">
        const inputStart = $("input#start");
        const inputEnd = $("input#end");
        const btnFilter = $("button#filter");

        const url2 = '@Url.Action(nameof(RealisasiController.Transaksi), new { tahun=Model.Tahun })';

        $(btnFilter).on("click", function () {
            const start = inputStart.val();
            const end = inputEnd.val();

            location.href = `${url2}?start=${start}&end=${end}`;
        });
    </script>
}