@model IndexVM

@{
    ViewData["Title"] = $"Realisasi | {Model.Jenis}";
    var cultureInfo = new CultureInfo("id-ID");
}

<partial name="_BreadcrumbPartial" />

<div class="card card-primary">
    <div class="card-header">
        <h4>Realisasi - @Model.Jenis.ToString() - @Model.Tahun</h4>
    </div>
    <div class="padding-20">
        <div class="d-flex justify-content-start ml-auto mb-2">
            <div class="mb-3">
                <a asp-action="@nameof(RealisasiController.Tambah)" asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun" class="btn btn-primary"><i class="fas fa-plus"></i> Tambah</a>
            </div>

            <div class="ml-auto">
                <select id="tahun" class="form-control">
                    @foreach (var tahun in Enumerable.Range(DateTime.Now.Year - 5, 11))
                    {
                        @if (tahun == Model.Tahun)
                        {
                            <option selected value="@tahun">@tahun</option>
                        }
                        else
                        {
                            <option value="@tahun">@tahun</option>
                        }
                    }
                </select>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table table-striped table-hover" id="table-akun-1">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Tanggal</th>
                        <th style="width: 150px">Akun</th>
                        <th style="width: 250px">Uraian</th>
                        <th>Kas</th>
                        <th>File Bukti</th>
                        <th>Jumlah</th>
                        <th>Saldo Terakhir</th>
                        <th style="width: 100px">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var no = 1;
                    }
                    @foreach (var transaksi in Model.DaftarTransaksi)
                    {
                        <tr>
                            <td>@no</td>
                            <td>@transaksi.Tanggal.ToString(cultureInfo.DateTimeFormat.ShortDatePattern, cultureInfo)</td>
                            <td>@transaksi.Akun.KodeAkun @transaksi.Akun.Uraian</td>
                            <td>@transaksi.Uraian</td>
                            <td>@transaksi.Kas.Uraian</td>
                            <td>
                                <a href="@transaksi.FileBukti.ToString()">File Bukti</a>
                            </td>
                            <td class="text-right">@transaksi.Jumlah.ToString("C2", cultureInfo)</td>
                            <td class="text-right">@transaksi.SaldoKas.ToString("C2", cultureInfo)</td>
                            <td>
                                <a asp-action="@nameof(RealisasiController.Edit)" asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun"
                                   asp-route-id="@transaksi.Id" class="btn btn-primary">Edit</a>
                                <form asp-action="@nameof(RealisasiController.Hapus)" asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun"
                                      asp-route-id="@transaksi.Id" style="display:inline">
                                    <button class="btn btn-danger">Hapus</button>
                                </form>
                            </td>
                        </tr>
                        no++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_BreadcrumbScriptPartial" />

    <script type="text/javascript">
        const selectTahun = $('select#tahun');

        const url = '@Url.Action(nameof(RealisasiController.Transaksi), new { jenis = Model.Jenis })';

        $(selectTahun).on('change', function () {
            const tahun = $(selectTahun).val();

            location.href = `${url}?tahun=${tahun}`;
        });
    </script>
}