@model JenisAkun

<tr>
    <td></td>
    <th class="text-center" width="50px">@Model.KodeAkun</th>
    <th colspan="4">@Model.Uraian</th>
</tr>

@foreach (var iakun in Model.DaftarIAkun)
{
    @if (iakun is KelompokAkun kelompokAkun)
    {
        <partial name="_KelompokAkunPartial" model="@kelompokAkun" />
    }
    else if (iakun is Akun akun)
    {
        <tr>
            <td></td>
            <td></td>
            <td class="text-center" width="50px">@akun.KodeAkun</td>
            <td colspan="3">@akun.Uraian</td>
        </tr>
    }
}