@model KelompokAkun

<tr>
    <th></th>
    <th></th>
    <th width="50px">@Model.KodeAkun</th>
    <th colspan="3">@Model.Uraian</th>
</tr>

@foreach(var iakun in Model.DaftarIAkun)
{
    @if(iakun is GolonganAkun golonganAkun)
    {
        <partial name="_GolonganAkunPartial" model="@golonganAkun" />
    }
    else if(iakun is Akun akun)
    {
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td width="50px">@akun.KodeAkun</td>
            <td colspan="2">@akun.Uraian</td>
        </tr>
    }
}