@inject IRepositoriAkun RepositoriAkun

@model BelanjaVM

@{
    ViewData["Title"] = "Akun | Belanja";
}

<!-- Breadcrumb -->
<div class="row">
    <partial name="_BreadcrumbPartial" />
</div>

<div class="card card-danger">
    <div class="card-header">
        <h4>Kelola Akun Belanja</h4>
    </div>
    <div class="padding-20">
        <ul class="nav nav-tabs" id="myTab2" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#jenisakun" role="tab"
                   aria-selected="true">Jenis Akun</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#kelompokakun" role="tab"
                   aria-selected="false">Kelompok Akun</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#golonganakun" role="tab"
                   aria-selected="false">Golongan Akun</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#akun" role="tab"
                   aria-selected="false">Akun</a>
            </li>
        </ul>
        <div class="tab-content tab-bordered" id="myTab3Content">
            <div class="tab-pane fade show active" id="jenisakun" role="tabpanel" aria-labelledby="home-tab2">
                <div class="row">
                    <div class="mb-3 pl-3 pr-2">
                        <a asp-area="Dashboard" asp-controller="Akun" asp-action="TambahJenisAkun" asp-route-jenis="@Jenis.Belanja" asp-route-tahun="@Model.Tahun" class="btn btn-icon icon-left btn-primary">
                            <i class="fas fa-plus"></i> Tambah Jenis Akun
                        </a>
                    </div>
                    @if (!Model.IsAkunExist)
                    {
                        <form method="post" asp-action="ImportAkun" asp-route-jenis="@Jenis.Belanja" asp-route-tahun="@Model.Tahun">
                            <div class="mb-3">
                                <select id="tahunSumber" name="tahunSumber" class="form-control">
                                    @foreach (var tahun in (await RepositoriAkun.GetAll()).Select(a => a.Tahun.Value).OrderBy(t => t).Distinct())
                                    {
                                        <option value="@tahun">@tahun</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-icon icon-left btn-light">
                                    <i class="fas fa-file-import"></i> Import Dari Tahun Lainnya
                                </button>
                            </div>
                        </form>
                    }
                    <div class="ml-auto mr-3">
                        <select name="tahun" id="tahun" class="form-control">
                            @foreach (var tahun in Enumerable.Range(DateTime.Now.Year - 5, 11))
                            {
                                if (tahun == Model.Tahun)
                                {
                                    <option value="@tahun" selected="true">@tahun</option>
                                }
                                else
                                {
                                    <option value="@tahun">@tahun</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="table-akun-1" width="100%">
                        <thead>
                            <tr>
                                <th>Kode</th>
                                <th>Uraian</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var jenisAkun in Model.DaftarJenisAkun)
                            {
                                <tr>
                                    <td>@jenisAkun.KodeAkun</td>
                                    <td>@jenisAkun.Uraian</td>
                                    <td>
                                        <a asp-action="EditJenisAkun" asp-route-tahun="@Model.Tahun" asp-route-jenis="@Jenis.Belanja"
                                           asp-route-id="@jenisAkun.Id" class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <form style="display:inline" asp-action="HapusJenisAkun" asp-route-jenis="@Jenis.Belanja" asp-route-tahun="@Model.Tahun" asp-route-id="@jenisAkun.Id">
                                            <button type="submit" class="btn btn-danger btn-action" data-toggle="tooltip" title="Hapus">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="kelompokakun" role="tabpanel" aria-labelledby="profile-tab2">
                <div class="row">
                    <div class="mb-3 pl-3 pr-2">
                        <a asp-area="Dashboard" asp-controller="Akun" asp-action="TambahKelompokAkun" asp-route-jenis="Belanja" asp-route-tahun="@Model.Tahun" class="btn btn-icon icon-left btn-primary">
                            <i class="fas fa-plus"></i> Tambah Kelompok Akun
                        </a>
                    </div>
                    @if (!Model.IsAkunExist)
                    {
                        <form method="post" asp-action="ImportAkun" asp-route-jenis="@Jenis.Belanja" asp-route-tahun="@Model.Tahun">
                            <div class="mb-3">
                                <select id="tahunSumber" name="tahunSumber" class="form-control">
                                    @foreach (var tahun in (await RepositoriAkun.GetAll()).Select(a => a.Tahun.Value).OrderBy(t => t).Distinct())
                                    {
                                        <option value="@tahun">@tahun</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-icon icon-left btn-light">
                                    <i class="fas fa-file-import"></i> Import Dari Tahun Lainnya
                                </button>
                            </div>
                        </form>
                    }
                    <div class="ml-auto mr-3">
                        <select name="tahun" id="tahun" class="form-control">
                            @foreach (var tahun in Enumerable.Range(DateTime.Now.Year - 5, 11))
                            {
                                if (tahun == Model.Tahun)
                                {
                                    <option value="@tahun" selected="true">@tahun</option>
                                }
                                else
                                {
                                    <option value="@tahun">@tahun</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="table-akun-2">
                        <thead>
                            <tr>
                                <th>Kode</th>
                                <th>Uraian</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var kelompokAkun in Model.DaftarKelompokAkun)
                            {
                                <tr>
                                    <td>@kelompokAkun.KodeAkun</td>
                                    <td>@kelompokAkun.Uraian</td>
                                    <td>
                                        <a asp-action="EditKelompokAkun" asp-route-tahun="@Model.Tahun" asp-route-jenis="@Jenis.Belanja"
                                           asp-route-id="@kelompokAkun.Id" class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <form style="display:inline" asp-action="HapusKelompokAkun" asp-route-jenis="@Jenis.Belanja" asp-route-tahun="@Model.Tahun" asp-route-id="@kelompokAkun.Id">
                                            <button type="submit" class="btn btn-danger btn-action" data-toggle="tooltip" title="Hapus">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="golonganakun" role="tabpanel" aria-labelledby="profile-tab2">
                <div class="row">
                    <div class="mb-3 pl-3 pr-2">
                        <a asp-area="Dashboard" asp-controller="Akun" asp-action="TambahGolonganAkun" asp-route-jenis="Belanja" asp-route-tahun="@Model.Tahun" class="btn btn-icon icon-left btn-primary">
                            <i class="fas fa-plus"></i> Tambah Golongan Akun
                        </a>
                    </div>
                    @if (!Model.IsAkunExist)
                    {
                        <form method="post" asp-action="ImportAkun" asp-route-jenis="@Jenis.Belanja" asp-route-tahun="@Model.Tahun">
                            <div class="mb-3">
                                <select id="tahunSumber" name="tahunSumber" class="form-control">
                                    @foreach (var tahun in (await RepositoriAkun.GetAll()).Select(a => a.Tahun.Value).OrderBy(t => t).Distinct())
                                    {
                                        <option value="@tahun">@tahun</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-icon icon-left btn-light">
                                    <i class="fas fa-file-import"></i> Import Dari Tahun Lainnya
                                </button>
                            </div>
                        </form>
                    }
                    <div class="ml-auto mr-3">
                        <select name="tahun" id="tahun" class="form-control">
                            @foreach (var tahun in Enumerable.Range(DateTime.Now.Year - 5, 11))
                            {
                                if (tahun == Model.Tahun)
                                {
                                    <option value="@tahun" selected="true">@tahun</option>
                                }
                                else
                                {
                                    <option value="@tahun">@tahun</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="table-akun-3">
                        <thead>
                            <tr>
                                <th>Kode</th>
                                <th>Uraian</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var golonganAkun in Model.DaftarGolonganAkun)
                            {
                                <tr>
                                    <td>@golonganAkun.KodeAkun</td>
                                    <td>@golonganAkun.Uraian</td>
                                    <td>
                                        <a asp-action="EditGolonganAkun" asp-route-tahun="@Model.Tahun" asp-route-jenis="@Jenis.Belanja"
                                           asp-route-id="@golonganAkun.Id" class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <form style="display:inline" asp-action="HapusGolonganAkun" asp-route-jenis="@Jenis.Belanja" asp-route-tahun="@Model.Tahun" asp-route-id="@golonganAkun.Id">
                                            <button type="submit" class="btn btn-danger btn-action" data-toggle="tooltip" title="Hapus">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="akun" role="tabpanel" aria-labelledby="profile-tab2">
                <div class="row">
                    <div class="mb-3 pl-3 pr-2">
                        <a asp-area="Dashboard" asp-controller="Akun" asp-action="TambahAkun" asp-route-jenis="Belanja" asp-route-tahun="@Model.Tahun" class="btn btn-icon icon-left btn-primary">
                            <i class="fas fa-plus"></i> Tambah Akun
                        </a>
                    </div>
                    @if (!Model.IsAkunExist)
                    {
                        <form method="post" asp-action="ImportAkun" asp-route-jenis="@Jenis.Belanja" asp-route-tahun="@Model.Tahun">
                            <div class="mb-3">
                                <select id="tahunSumber" name="tahunSumber" class="form-control">
                                    @foreach (var tahun in (await RepositoriAkun.GetAll()).Select(a => a.Tahun.Value).OrderBy(t => t).Distinct())
                                    {
                                        <option value="@tahun">@tahun</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-icon icon-left btn-light">
                                    <i class="fas fa-file-import"></i> Import Dari Tahun Lainnya
                                </button>
                            </div>
                        </form>
                    }
                    <div class="ml-auto mr-3">
                        <select name="tahun" id="tahun" class="form-control">
                            @foreach (var tahun in Enumerable.Range(DateTime.Now.Year - 5, 11))
                            {
                                if (tahun == Model.Tahun)
                                {
                                    <option value="@tahun" selected="true">@tahun</option>
                                }
                                else
                                {
                                    <option value="@tahun">@tahun</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="table-akun-4" width="100%">
                        <thead>
                            <tr>
                                <th>Kode</th>
                                <th>Uraian</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var akun in Model.DaftarAkun)
                            {
                                <tr>
                                    <td>@akun.KodeAkun</td>
                                    <td>@akun.Uraian</td>
                                    <td>
                                        <a asp-action="EditAkun" asp-route-tahun="@Model.Tahun" asp-route-jenis="@Jenis.Belanja"
                                           asp-route-id="@akun.Id" class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <form style="display:inline" asp-action="HapusAkun" asp-route-jenis="@Jenis.Belanja" asp-route-tahun="@Model.Tahun" asp-route-id="@akun.Id">
                                            <button type="submit" class="btn btn-danger btn-action" data-toggle="tooltip" title="Hapus">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary">
    <div class="card-header">
        <h4>Tabel Akun</h4>
    </div>
    <div class="card-body">
        <ul>
            @foreach (var jenisAkun in Model.DaftarJenisAkun)
            {
                <partial name="_JenisAkunPartial" model="jenisAkun" />
            }
        </ul>
    </div>
</div>


@section Scripts {
    <partial name="_BreadcrumbScriptPartial" />

    <script type="text/javascript">
        $("select#tahun").on('change', function () {
            const url = '/Dashboard/Akun/Belanja';
            const tahun = $('select#tahun').val()

            location.href = url + `/${tahun}`;
        });
    </script>
}