@model TambahKelompokAkunVM

@{
    ViewData["Title"] = $"Akun | {Model.Jenis.ToString()} - Tambah Kelompok Akun";
}

<h1>Tambah Kelompok Akun - @Model.Jenis.ToString() - @Model.Tahun</h1>

<div class="row">
    <form asp-action="TambahKelompokAkun" asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun">
        <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

        <div class="col mb-3">
            <label asp-for="@Model.Uraian" class="form-label"></label>
            <input asp-for="@Model.Uraian" class="form-control" />
            <span asp-validation-for="@Model.Uraian" class="form-text text-danger"></span>
        </div>

        <div class="col mb-3">
            <label asp-for="@Model.IdJenisAkun" class="form-label"></label>
            <select asp-for="@Model.IdJenisAkun" class="form-control">
                @foreach(var jenisAkun in Model.DaftarJenisAkun)
                {
                    <option value="@jenisAkun.Id">@jenisAkun.Uraian</option> 
                }
            </select>
            <span asp-validation-for="@Model.IdJenisAkun" class="form-text text-danger"></span>
        </div>

        <input asp-for="@Model.Jenis" class="form-control" readonly hidden />

        <input asp-for="@Model.Tahun" class="form-control" readonly hidden />

        <input asp-for="@Model.ReturnURL" readonly hidden />

        <div class="col mb-3">
            <button class="btn btn-primary">
                Simpan
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}