@using SIKeuanganGMITLanudPenfui.Domain.Repositories
@model TambahGolonganAkunVM

@inject IRepositoriKelompokAkun RepositoriKelompokAkun;

@{
    ViewData["Title"] = $"Akun | {Model.Jenis.ToString()} - Tambah Golongan Akun";
}

<h1>Tambah Golongan Akun - @Model.Jenis.ToString() - @Model.Tahun</h1>

<div class="row">
    <form asp-action="TambahGolonganAkun" asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun">
        <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

        <div class="col mb-3">
            <label asp-for="@Model.Uraian" class="form-label"></label>
            <input asp-for="@Model.Uraian" class="form-control" />
            <span asp-validation-for="@Model.Uraian" class="form-text text-danger"></span>
        </div>

        <div class="col mb-3">
            <label class="form-label">Jenis Akun</label>
            <select class="form-control" id="idJenisAkun">
                @foreach (var jenisAkun in Model.DaftarJenisAkun)
                {
                    <option value="@jenisAkun.Id">@jenisAkun.Uraian</option>
                }
            </select>
        </div>

        <div class="col mb-3">
            <label asp-for="@Model.IdKelompokAkun" class="form-label"></label>
            <select asp-for="@Model.IdKelompokAkun" id="idKelompokAkun" class="form-control">
                @foreach (var kelompokAkun in Model.DaftarJenisAkun.Count > 0 ? await RepositoriKelompokAkun.GetAllByJenis(Model.DaftarJenisAkun[0]) : new List<KelompokAkun>())
                {
                    <option value="@kelompokAkun.Id">@kelompokAkun.Uraian</option>
                }
            </select>
            <span asp-validation-for="@Model.IdKelompokAkun" class="form-text text-danger"></span>
        </div>

        <input asp-for="@Model.Jenis" class="form-control" readonly hidden />

        <input asp-for="@Model.Tahun" class="form-control" readonly hidden />

        <input asp-for="@Model.ReturnURL" readonly hidden />

        <div class="col mb-3">
            <button class="btn btn-primary">
                Simpan
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const selectIdJenisAkun = $('select#idJenisAkun');
        const selectIdKelompokAkun = $('select#idKelompokAkun');
        const url = '@(Url.ActionLink("KelompokAkun"))';

        $(selectIdJenisAkun).on('change', async function () {
            const idJenisAkun = selectIdJenisAkun.val();

            try {
                const response = await fetch(`${url}?idJenisAkun=${idJenisAkun}`);

                if(response.ok) {
                    const json = await response.json();

                    selectIdKelompokAkun.html('');

                    for (let kelompokAkun of json) {
                        selectIdKelompokAkun.append(`<option value="${kelompokAkun.Id}">${kelompokAkun.Uraian}</option>`);
                    }
                }

            } catch (error) {
                console.error(error);
            }
        })
    </script>
}