@model TambahKelompokAkunVM

@{
    ViewData["Title"] = $"Akun | {Model.Jenis.ToString()} - Tambah Kelompok Akun";
}

<!-- Breadcrumb -->
<div class="row" style="justify-content: center;">
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Akun</a></li>
                <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="Akun" asp-action="@Model.Jenis">@Model.Jenis</a></li>
                <li class="breadcrumb-item" aria-current="page">Tambah Kelompok Akun</li>
            </ol>
        </nav>
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card card-primary">
                <div class="card-header" style="padding-top: 20px;">
                    <h4>Tambah Kelompok Akun - @Model.Jenis.ToString() - @Model.Tahun</h4>
                </div>

                <form asp-action="TambahKelompokAkun" asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

                        <div class="form-group mb-0">
                            <label asp-for="@Model.Uraian">Uraian<span class="text-danger">*</span></label>
                            <input asp-for="@Model.Uraian" type="text" class="form-control">
                            <span asp-validation-for="@Model.Uraian" class="form-text text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.IdJenisAkun">Jenis Akun<span class="text-danger">*</span></label>
                            <select asp-for="@Model.IdJenisAkun" class="form-control selectric">
                                <option value="@null">Pilih Jenis Akun...</option>
                                @foreach (var jenisAkun in Model.DaftarJenisAkun)
                                {
                                    <option value="@jenisAkun.Id">@jenisAkun.Uraian</option>
                                }
                            </select>
                        </div>

                        <input asp-for="@Model.Jenis" class="form-control" readonly hidden />

                        <input asp-for="@Model.Tahun" class="form-control" readonly hidden />

                        <input asp-for="@Model.ReturnURL" readonly hidden />
                    </div>

                    <div class="card-footer text-right">
                        <button class="btn btn-primary mr-1" type="submit">Submit</button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#basicModal2" type="reset">Batal</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@* <h1>Tambah Kelompok Akun - @Model.Jenis.ToString() - @Model.Tahun</h1>

<div class="row">
    <form asp-action="TambahKelompokAkun" asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun">
        <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

        <div class="col mb-3">
            <label asp-for="@Model.Uraian" class="form-label"></label>
            <input asp-for="@Model.Uraian" class="form-control" />
            <span asp-validation-for="@Model.Uraian" class="form-text text-danger"></span>
        </div>

        <div class="col mb-3">
            <label asp-for="@Model.IdJenisAkun" class="form-label"></label>
            <select asp-for="@Model.IdJenisAkun" class="form-control">
                @foreach(var jenisAkun in Model.DaftarJenisAkun)
                {
                    <option value="@jenisAkun.Id">@jenisAkun.Uraian</option> 
                }
            </select>
            <span asp-validation-for="@Model.IdJenisAkun" class="form-text text-danger"></span>
        </div>

        <input asp-for="@Model.Jenis" class="form-control" readonly hidden />

        <input asp-for="@Model.Tahun" class="form-control" readonly hidden />

        <input asp-for="@Model.ReturnURL" readonly hidden />

        <div class="col mb-3">
            <button class="btn btn-primary">
                Simpan
            </button>
        </div>
    </form>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}