@using SIKeuanganGMITLanudPenfui.Domain.Enums
@using SIKeuanganGMITLanudPenfui.Domain.Repositories
@model TambahAkunVM

@inject IRepositoriKelompokAkun RepositoriKelompokAkun;
@inject IRepositoriGolonganAkun RepositoriGolonganAkun;

@{
    ViewData["Title"] = $"Akun | {Model.Jenis.ToString()} - Tambah Akun";
    var daftarKelompokAkun = Model.DaftarJenisAkun.Count > 0 ? await RepositoriKelompokAkun.GetAllByJenis(Model.DaftarJenisAkun[0]) : new List<KelompokAkun>();
    var daftarGolonganAkun = daftarKelompokAkun.Count > 0 ? await RepositoriGolonganAkun.GetAllByKelompokAkun(daftarKelompokAkun[0]) : new List<GolonganAkun>();
}

<!-- Breadcrumb -->
<div class="row" style="justify-content: center;">
    <div class="col-12 col-md-6 col-lg-6" style="padding: 0;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Akun</a></li>
                <li class="breadcrumb-item"><a asp-area="Dashboard" asp-controller="Akun" asp-action="@Model.Jenis">@Model.Jenis</a></li>
                <li class="breadcrumb-item" aria-current="page">Tambah Akun</li>
            </ol>
        </nav>
    </div>
</div>

<div class="section-body">
    <div class="row" style="justify-content: center;">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card card-primary">
                <div class="card-header" style="padding-top: 20px;">
                    <h4>Tambah Akun - @Model.Jenis.ToString() - @Model.Tahun</h4>
                </div>

                <form asp-action="TambahAkun" asp-route-jenis="@Model.Jenis" asp-route-tahun="@Model.Tahun">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

                        <div class="form-group">
                            <label asp-for="@Model.Uraian">Uraian<span class="text-danger">*</span></label>
                            <input asp-for="@Model.Uraian" type="text" class="form-control" autofocus placeholder="Uraian...">
                            <span asp-validation-for="@Model.Uraian" class="form-text text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.Kode">Kode<span class="text-danger">*</span></label>
                            <input asp-for="@Model.Kode" id="Kode" type="text" class="form-control" autofocus placeholder="Uraian...">
                            <span asp-validation-for="@Model.Kode" class="form-text text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.IdJenisAkun">Jenis Akun<span class="text-danger">*</span></label>
                            <select asp-for="@Model.IdJenisAkun" class="form-control selectric" id="idJenisAkun">
                                @foreach (var jenisAkun in Model.DaftarJenisAkun)
                                {
                                    <option value="@jenisAkun.Id">@jenisAkun.Uraian</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.IdKelompokAkun">Kelompok Akun<span class="text-danger">*</span></label>
                            <select asp-for="@Model.IdKelompokAkun" id="idKelompokAkun" class="form-control selectric">
                                <option value="@null">Pilih Kelompok Akun...</option>
                                @foreach (var kelompokAkun in Model.DaftarJenisAkun.Count > 0 ? await RepositoriKelompokAkun.GetAllByJenis(Model.DaftarJenisAkun[0]) : new List<KelompokAkun>())
                                {
                                    <option value="@kelompokAkun.Id">@kelompokAkun.Uraian</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.IdGolonganAkun">Golongan Akun<span class="text-danger">*</span></label>
                            <select asp-for="@Model.IdGolonganAkun" id="idGolonganAkun" class="form-control selectric">
                                <option value="@null">Pilih Golongan Akun...</option>
                                @foreach (var kelompokAkun in Model.DaftarJenisAkun.Count > 0 ? await RepositoriKelompokAkun.GetAllByJenis(Model.DaftarJenisAkun[0]) : new List<KelompokAkun>())
                                {
                                    <option value="@kelompokAkun.Id">@kelompokAkun.Uraian</option>
                                }
                            </select>
                        </div>

                        @if (Model.Jenis == Jenis.Penerimaan)
                        {
                            <div class="form-group">
                                <label asp-for="@Model.PresentaseSetoranSinode">Setoran Sinode</label>
                                <div class="input-group mb-2">
                                    <input asp-for="@Model.PresentaseSetoranSinode" type="number" class="form-control" autofocus placeholder="Presentase Setoran Sinode...">
                                    <div class="input-group-append">
                                        <div class="input-group-text">%</div>
                                    </div>
                                </div>
                                <span asp-validation-for="@Model.PresentaseSetoranSinode" class="form-text text-danger"></span>
                            </div>
                        }

                        <input asp-for="@Model.Jenis" class="form-control" readonly hidden />

                        <input asp-for="@Model.Tahun" class="form-control" readonly hidden />

                        <input asp-for="@Model.ReturnURL" readonly hidden />
                    </div>

                    <div class="card-footer text-right">
                        <button class="btn btn-primary mr-1" type="submit">Submit</button>
                        <a class="btn btn-danger" href="@Model.ReturnURL">Batal</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const selectIdJenisAkun = $('select#idJenisAkun');
        const selectIdKelompokAkun = $('select#idKelompokAkun');
        const selectIdGolonganAkun = $('select#idGolonganAkun');
        const urlKelompokAkun = '@(Url.ActionLink("KelompokAkun"))';
        const urlGolonganAkun = '@(Url.ActionLink("GolonganAkun"))';

        $(selectIdJenisAkun).on('change', async function () {
            const idJenisAkun = selectIdJenisAkun.val();

            try {
                selectIdGolonganAkun.html('');
                selectIdGolonganAkun.append(`<option value="null">Pilih Golongan Akun...</option>`);
                selectIdKelompokAkun.html('');
                selectIdKelompokAkun.append(`<option value="null">Pilih Kelompok Akun...</option>`);
                const response = await fetch(`${urlKelompokAkun}?idJenisAkun=${idJenisAkun}`);


                if (response.ok) {
                    const json = await response.json();

                    for (let kelompokAkun of json) {
                        selectIdKelompokAkun.append(`<option value="${kelompokAkun.Id}">${kelompokAkun.Uraian}</option>`);
                    }
                }

            } catch (error) {
                console.error(error);
            }
        });

        $(selectIdKelompokAkun).on('change', async function () {
            const idKelompokAkun = selectIdKelompokAkun.val();

            try {
                selectIdGolonganAkun.html('');
                selectIdGolonganAkun.append(`<option value="null">Pilih Golongan Akun...</option>`);
                const response = await fetch(`${urlGolonganAkun}?idKelompokAkun=${idKelompokAkun}`);

                if (response.ok) {
                    const json = await response.json();

                    for (let golonganAkun of json) {
                        selectIdGolonganAkun.append(`<option value="${golonganAkun.Id}">${golonganAkun.Uraian}</option>`);
                    }
                }

            } catch (error) {
                console.error(error);
            }
        });
    </script>
}